@import "../../../defaults.scss";

#title {
  font-weight: bold;
}

input {
  border: none;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bolder;
}

.search-button {
    padding: 10px;
    border: none;
    text-transform: uppercase;
    background-color: white;
}