@import "../../defaults.scss";

.logo {
  width: 160px;
  position: absolute;
  top: 0;

  @media (max-width: 600px) {
    width: 140px;
  }

}

md-toolbar {
  background: $black;
  color: $white;
  overflow: hidden;

  button {
    color: $white;
    text-transform: uppercase;
    font-weight: bolder;
  }

  .links {
    margin-left: 180px;
    margin-right: -180px;
  }

  .user-info {
    text-transform: uppercase;
    font-size: 1rem;
  }
  
}


