@import "../../defaults.scss";

.logo {
  width: 160px;
  position: absolute;
  top: 0;

}

md-toolbar {
  background: $black;
  color: $white;
  overflow: hidden;

  button {
    color: $white;
    text-transform: uppercase;
    font-weight: bolder;
  }

  .links {
    margin-left: 180px;
  }
}