@import "../../defaults";

.container {
    background: $dark-grey;
    display: flex;
    flex-direction: row;

    .tile {
        width: 50%;
    }
    
    .details-card {
        text-align: left;
    }

    .details-text {
        text-align: justify;
        font-size: 16px;
    }


    @media screen and (max-width: 728px) {
        .tile {
            width: 100%;
        }

        flex-direction: column;
    }
}


.cards {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  width: 100vw;

  .tile {
    text-align: left;

    @media screen and (max-width: 544px) {
      width: 100%;
    }

    @media screen and (min-width: 544px) {
      width: 50%;
    }

    @media screen and (min-width: 728px) {
      width: 50%;
    }

    @media screen and (min-width: 1024px) {
      width: 33.3%;
    }

    @media screen and (min-width: 1366px) {
      width: 25%;
    }

    md-card {
      margin-top: 10px;
      text-align: left;
    }
  }
}




