@import "../../defaults";

.container {
    background: $dark-grey;
    display: flex;
    flex-direction: row;

    .tile {
        width: 50%;
    }
    
    .details-card {
        text-align: left;
    }

    .details-text {
        text-align: justify;
        font-size: 16px;
    }


    @media screen and (max-width: 728px) {
        .tile {
            width: 100%;
        }

        flex-direction: column;
    }
}



