<md-card class="example-card">
  <img md-card-image src="/assets/img/marvel_logo.svg" width="100%">
  <form class="example-form" (ngSubmit)="login()">
    <md-input-container>
      <input mdInput placeholder="Email" [(ngModel)]="userCredentials.email" name="email">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Password" type="password" [(ngModel)]="userCredentials.password" name="password">
    </md-input-container>
    <div class="error" *ngIf="error">
      {{ error }}
    </div>
    <div class="button-row">
      <button class="login-button" type="submit" [disabled]="!userCredentials.valid()">Login</button>
    </div>
  </form>
</md-card>
