<md-grid-list cols="4">
  <md-grid-tile *ngFor="let hero of heroes">
    <md-card class="hero-card">
      <a class="collection-item" [routerLink]="['/hero', hero.id]">
        <img md-card-image [src]="getHeroImage(hero)" />
      </a>
      <md-card-title>
        <button md-icon-button color="accent" (click)="favorite(hero)">
          <md-icon>{{hero.favorite ? 'favorite' : 'favorite_border'}}</md-icon>
        </button>
        <a class="collection-item" [routerLink]="['/hero', hero.id]">
          <span>{{hero.name}}</span>
        </a>
      </md-card-title>
    </md-card>
  </md-grid-tile>
</md-grid-list>
