<form (ngSubmit)="register()">
  <md-input-container>
    <input mdInput placeholder="First name" [(ngModel)]="userInfo.name.firstName" name="firstName">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Last name" [(ngModel)]="userInfo.name.lastName" name="lastName">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Email" [(ngModel)]="userInfo.email" name="email" type="email">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Password" type="password" [(ngModel)]="userInfo.password" name="password">
  </md-input-container>
  <div class="error" *ngIf="error">
    {{ error }}
  </div>
  <div class="button-row">
    <button class="connect-button" type="submit" [disabled]="!userInfo.valid()">Register</button>
  </div>
</form>